{% load bootstrap3 %}
{% load static%}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <div class="container">
  {% if title %}
  <title>Instagram - {{title}}</title>
  {% else %}
    <title> Instagram </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/pics.css' %}">
  {% endblock %}
</head>
<body>
        {% include "navbar.html" %}
    {% block content %}
   
    {% for item in images %}

    <div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{item.image.url}}" class="img-responsive" alt="Image">
      <h2 class="text-center"> {{ item.image_name }} </h2>
      <p>{{item.pub_date|timesince}} by {{item.profile}}</p>
    </div>

  </div>
  {%endfor%}
    {%endblock%}
    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
    {% endblock %}
  </div>
</body>
</html>