{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="row">
<div class="col-md-3">
  <a href="{%url 'welcome'%}"></i><img src="{% static 'img/logo.png' %}" alt="" class="download" style="margin-left:100px;margin-top: 20px;"></a>
</div>
<div class='col-md-4'>
  <form class="col-md-7" role="search" action="{% url 'search_results' %}" style="margin-left:100px;margin-top: 20px;">
    <input name="user" class="form-control text-center"  placeholder="Search" name="user">

</form>

</div>


<div class='col-md-5' style="padding: 2px;">
   <img src="{% static 'img/insta10.png' %}" alt="" style="margin-left:20px; margin-top: 10px;width: 40px; padding: 0px; background-color: white; display: inline-block;"></a>
  <img src="{% static 'img/insta9.png' %}" style="margin-left:20px;margin-top: 10px;width: 45px;">
  <a href="{%url 'profile' %}"><img src="{% static 'img/insta12.png' %}" style="margin-left:20px;margin-top: 10px;width: 35px;" ></a>
  
</div>
</div>

<br>
<br>
<br>
<br>

</body>
</html>