{%extends 'base.html'%}
{% load bootstrap4 %}
{% load staticfiles %}



{% block content %}
<div class="container" style="margin-top:7%;">
    <div class="row">
      
        {% for item in images %}

        <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
          <img src="{{item.image.url}}" class="img-responsive" alt="Image">
          <h2 class="text-center"> {{ item.image_name }} </h2>
          <p>{{item.pub_date|timesince}} by {{item.profile}}</p>
          <p><i class="fa fa-heart">{{image.likes|length}}</i> <i class="fa fa-comment"></i></p> 
          <p  style="font-family: sans-serif;"> Caption : {{ image.description}}</p>
          <hr>
                   {% for com in comments %}
                   <p>{{com.comment}}</p>
                   {% endfor %}
                  
          <a href="{% url 'comment' item.id %}">comment</a>
        </div>
    
      </div>
      {%endfor%}


        </div>

    </div>

{% endblock %}