{%extends 'base.html'%}

{% block content %}
{{block.super}}
{% endblock %}


<h1> Welcome to the Moringa Tribune</h1>
{% for item in images %}

  <div class="row">
    <!-- displaying News articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ item.image_name }} </h2>
    </div>

    <!--Display news Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{item.image.url}}" class="img-responsive" alt="Image">
    </div>
    <div class="row">
      {% autoescape on %}
      {{item.post| safe}}
     {% endautoescape %}
 
    </div>
  </div>
  {%endfor%}